
<% include('../layouts/header.ejs') %>

    <h1>Add New User</h1>

    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="text" name="mobile" placeholder="Enter Mobile Number" required>
        <br><br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <input type="submit" value="Add User">

    </form>



    <% if(typeof message !=='undefined' ){ %>
        <p style="color: green;">
            <%= message %>
        </p>
        <% } %>

<a href="admin/dashboard">Back</a>

            <% include('../layouts/footer.ejs') %>